# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Logs
*.log
logs/
error.log
combined.log

# Environment
*.env
.env.local

# Uploads (optional)
uploads/

# OS
.DS_Store
Thumbs.db

uploads/.env
#chromadb
chroma_store/
