fastapi==0.116.1
uvicorn==0.35.0
langchain>=0.3.27
langchain_chroma==0.2.5
langchain_google_genai==2.1.10
python-dotenv==1.1.1
requests==2.32.5
sqlalchemy[asyncio]==2.0.22
asyncpg==0.27.0
aioredis==2.0.1
fastapi-cache[redis]==0.9.1
loguru==0.7.0